<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szxy.spdb.dao.IBrandDao">
  <resultMap id="BaseResultMap" type="com.szxy.spdb.po.Brand">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, bname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <select id="findAllBrands" resultType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brand
    where 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from brand
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.szxy.spdb.po.Brand">
    insert into brand (bid, bname)
    values (#{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szxy.spdb.po.Brand">
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bname != null">
        bname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szxy.spdb.po.Brand">
    update brand
    <set>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szxy.spdb.po.Brand">
    update brand
    set bname = #{bname,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>