<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szxy.spdb.dao.IRouteDao">
    <resultMap id="BaseResultMap" type="com.szxy.spdb.po.Route">
        <id column="rid" jdbcType="INTEGER" property="rid"/>
        <result column="rname" jdbcType="VARCHAR" property="rname"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="route_introduce" jdbcType="VARCHAR" property="routeIntroduce"/>
        <result column="rflag" jdbcType="VARCHAR" property="rflag"/>
        <result column="rdate" jdbcType="VARCHAR" property="rdate"/>
        <result column="isdiscount" jdbcType="VARCHAR" property="isdiscount"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="bid" jdbcType="INTEGER" property="bid"/>
        <result column="rimage" jdbcType="VARCHAR" property="rimage"/>
        <result column="sid" jdbcType="INTEGER" property="sid"/>
        <result column="source_id" jdbcType="VARCHAR" property="sourceId"/>
        <result column="isdelete" jdbcType="INTEGER" property="isdelete"/>
    </resultMap>
    <sql id="Base_Column_List">
    rid, rname, price, route_introduce, rflag, rdate, isdiscount, count, bid, rimage,
    sid, source_id, isdelete
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route
        where rid = #{rid,jdbcType=INTEGER}
    </select>
    <select id="findBrandRouteTotalCount" resultType="java.lang.Integer">
        select
        count(*)
        from route
        where bid = #{bid,jdbcType=INTEGER}
        <if test="searchValue != null">
            and rname like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="findRouteByPage" resultMap="BaseResultMap">
        select
        *
        from route
        where bid = #{bid,jdbcType=INTEGER}
        <if test="searchValue != null">
            and rname like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
        </if>
        limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="findRouteDetailsByRid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        *
        from route
        where rid=#{rid,jdbcType=INTEGER}
    </select>
    <select id="findBrandByRid" parameterType="java.lang.Integer" resultType="com.szxy.spdb.po.Brand">
        select
        b.bname
        from route r,brand b
        where r.bid = b.bid and
        r.rid=#{rid,jdbcType=INTEGER}
    </select>
    <select id="findSellerByRid" parameterType="java.lang.Integer" resultType="com.szxy.spdb.po.Seller">
        select
        s.sname,s.telephone,s.address
        from route r,seller s
        where s.sid=r.sid and
        r.rid=#{rid,jdbcType=INTEGER}
    </select>
    <select id="findRouteCountByRid" resultType="java.lang.Integer">
        select
        count
        from route
        where rid=#{rid,jdbcType=INTEGER}
    </select>
    <select id="findPopularRoute" resultType="com.szxy.spdb.po.Route">
        select
        *
        from route
        order by count
        desc limit 0,4
    </select>
    <select id="findNewestRoute" resultType="com.szxy.spdb.po.Route">
        select
        *
        from route
        order by rdate
        desc limit 0,4
    </select>
    <select id="findDiscountRoute" resultType="com.szxy.spdb.po.Route">
        select
        *
        from route
        where isdiscount = 1
        limit 0,4
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from route
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.szxy.spdb.po.Route">
    insert into route (rid, rname, price,
      route_introduce, rflag, rdate,
      isdiscount, count, bid,
      rimage, sid, source_id,
      isdelete)
    values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
      #{routeIntroduce,jdbcType=VARCHAR}, #{rflag,jdbcType=VARCHAR}, #{rdate,jdbcType=VARCHAR},
      #{isdiscount,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER},
      #{rimage,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, #{sourceId,jdbcType=VARCHAR},
      #{isdelete,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.szxy.spdb.po.Route">
        insert into route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rid != null">
                rid,
            </if>
            <if test="rname != null">
                rname,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="routeIntroduce != null">
                route_introduce,
            </if>
            <if test="rflag != null">
                rflag,
            </if>
            <if test="rdate != null">
                rdate,
            </if>
            <if test="isdiscount != null">
                isdiscount,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="bid != null">
                bid,
            </if>
            <if test="rimage != null">
                rimage,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="isdelete != null">
                isdelete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rid != null">
                #{rid,jdbcType=INTEGER},
            </if>
            <if test="rname != null">
                #{rname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="routeIntroduce != null">
                #{routeIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="rflag != null">
                #{rflag,jdbcType=VARCHAR},
            </if>
            <if test="rdate != null">
                #{rdate,jdbcType=VARCHAR},
            </if>
            <if test="isdiscount != null">
                #{isdiscount,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="bid != null">
                #{bid,jdbcType=INTEGER},
            </if>
            <if test="rimage != null">
                #{rimage,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="addRouteCountByRid" parameterType="java.lang.Integer">
        update route
        set count = count+1
        where rid = #{rid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.szxy.spdb.po.Route">
        update route
        <set>
            <if test="rname != null">
                rname = #{rname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="routeIntroduce != null">
                route_introduce = #{routeIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="rflag != null">
                rflag = #{rflag,jdbcType=VARCHAR},
            </if>
            <if test="rdate != null">
                rdate = #{rdate,jdbcType=VARCHAR},
            </if>
            <if test="isdiscount != null">
                isdiscount = #{isdiscount,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="bid != null">
                bid = #{bid,jdbcType=INTEGER},
            </if>
            <if test="rimage != null">
                rimage = #{rimage,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=INTEGER},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                isdelete = #{isdelete,jdbcType=INTEGER},
            </if>
        </set>
        where rid = #{rid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szxy.spdb.po.Route">
    update route
    set rname = #{rname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      route_introduce = #{routeIntroduce,jdbcType=VARCHAR},
      rflag = #{rflag,jdbcType=VARCHAR},
      rdate = #{rdate,jdbcType=VARCHAR},
      isdiscount = #{isdiscount,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER},
      rimage = #{rimage,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER},
      source_id = #{sourceId,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>